body {
    background-image:linear-gradient(to left, #0c00af, #0099ff);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.logo {
    background: linear-gradient(90deg, #c70000, #fce72e);
    color:rgb(255, 255, 255);
    font-size:200px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
    color-scheme: light dark;

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nav-links {

} 
    
